S3method("[",GComponent)
S3method("[<-",GComponent)
S3method("enabled<-",default)
S3method("focus<-",default)
S3method("size<-",default)
S3method("svalue<-",GCalendar)
S3method("svalue<-",GCheckboxGroup)
S3method("svalue<-",GCheckboxTable)
S3method("svalue<-",GFrame)
S3method("svalue<-",GTable)
S3method("svalue<-",GWidgetTextProxy)
S3method("svalue<-",default)
S3method("tooltip<-",default)
S3method("visible<-",default)
S3method(addHandlerBlur,GCombobox)
S3method(addHandlerBlur,GEdit)
S3method(addHandlerBlur,GText)
S3method(addHandlerBlur,default)
S3method(addHandlerChange,GCheckboxGroup)
S3method(addHandlerChange,GCombobox)
S3method(addHandlerChange,GRadio)
S3method(addHandlerChange,GSequenceSelect)
S3method(addHandlerChange,GSlider)
S3method(addHandlerChange,default)
S3method(addHandlerChanged,GAction)
S3method(addHandlerChanged,GCalendar)
S3method(addHandlerChanged,GCombobox)
S3method(addHandlerChanged,GEdit)
S3method(addHandlerChanged,GExpandGroup)
S3method(addHandlerChanged,GFile)
S3method(addHandlerChanged,GNotebook)
S3method(addHandlerChanged,GPanel)
S3method(addHandlerChanged,GRadio)
S3method(addHandlerChanged,GSequenceSelect)
S3method(addHandlerChanged,GTable)
S3method(addHandlerChanged,default)
S3method(addHandlerClicked,GRadio)
S3method(addHandlerClicked,GTable)
S3method(addHandlerClicked,default)
S3method(addHandlerDoubleclick,GTable)
S3method(addHandlerDoubleclick,default)
S3method(addHandlerEnter,GEdit)
S3method(addHandlerEnter,default)
S3method(addHandlerMouseDown,default)
S3method(addHandlerMouseUp,default)
S3method(addHandlerSelect,GCombobox)
S3method(addHandlerSelect,GTable)
S3method(addHandlerSelect,default)
S3method(length,GComponent)
S3method(svalue,GCalendar)
S3method(svalue,GCheckbox)
S3method(svalue,GCheckboxGroup)
S3method(svalue,GFrame)
S3method(svalue,GTable)
S3method(svalue,default)
S3method(visible,default)
export("%||%")
export("enabled<-")
export("focus<-")
export("size<-")
export("svalue<-")
export("tooltip<-")
export("visible<-")
export(addHandlerBlur)
export(addHandlerChange)
export(addHandlerChanged)
export(addHandlerClicked)
export(addHandlerDoubleclick)
export(addHandlerEnter)
export(addHandlerMouseDown)
export(addHandlerMouseUp)
export(addHandlerSelect)
export(asIcon)
export(call_ext)
export(gaction)
export(galert)
export(gborderlayout)
export(gbutton)
export(gcalendar)
export(gcheckbox)
export(gcheckboxgroup)
export(gcombobox)
export(gconfirm)
export(gedit)
export(gexpandgroup)
export(gfile)
export(gformlayout)
export(gframe)
export(ggroup)
export(ghtml)
export(gimage)
export(ginput)
export(glabel)
export(gmenu)
export(gmessage)
export(gnotebook)
export(gpanel)
export(gradio)
export(gseparator)
export(gslider)
export(gspinbutton)
export(gstackwidget)
export(gsvg)
export(gtable)
export(gtempfile)
export(gtext)
export(gtimer)
export(gwindow)
export(isIcon)
export(isURL)
export(svalue)
export(visible)
