S3method("[",GComponent)
S3method("[<-",GComponent)
S3method("enabled<-",default)
S3method("focus<-",default)
S3method("size<-",default)
S3method("svalue<-",GCalendar)
S3method("svalue<-",GCheckboxGroup)
S3method("svalue<-",GCheckboxTable)
S3method("svalue<-",GFrame)
S3method("svalue<-",GTable)
S3method("svalue<-",GWidgetTextProxy)
S3method("svalue<-",default)
S3method("tooltip<-",default)
S3method("visible<-",default)
S3method(length,GComponent)
S3method(svalue,GCalendar)
S3method(svalue,GCheckbox)
S3method(svalue,GCheckboxGroup)
S3method(svalue,GFrame)
S3method(svalue,GTable)
S3method(svalue,default)
S3method(visible,default)
export("%||%")
export("enabled<-")
export("focus<-")
export("size<-")
export("svalue<-")
export("tooltip<-")
export("visible<-")
export(asIcon)
export(call_ext)
export(gaction)
export(galert)
export(gborderlayout)
export(gbutton)
export(gcalendar)
export(gcanvas)
export(gcheckbox)
export(gcheckboxgroup)
export(gcombobox)
export(gconfirm)
export(gedit)
export(gexpandgroup)
export(gfile)
export(gformlayout)
export(gframe)
export(ggroup)
export(ghtml)
export(gimage)
export(ginput)
export(glabel)
export(gmenu)
export(gmessage)
export(gnotebook)
export(gpanel)
export(gradio)
export(gseparator)
export(gslider)
export(gspinbutton)
export(gstackwidget)
export(gsvg)
export(gtable)
export(gtempfile)
export(gtext)
export(gtimer)
export(gwindow)
export(isIcon)
export(isURL)
export(svalue)
export(visible)
