.x-gw-icon-3d-bar-chart {background-image: url('../images/3d_bar_chart.png');background-repeat:no-repeat;}
.x-gw-icon-abort {background-image: url('../images/abort.png');background-repeat:no-repeat;}
.x-gw-icon-about {background-image: url('../images/about.png');background-repeat:no-repeat;}
.x-gw-icon-accounting {background-image: url('../images/accounting.png');background-repeat:no-repeat;}
.x-gw-icon-address-book {background-image: url('../images/address_book.png');background-repeat:no-repeat;}
.x-gw-icon-alarm-clock {background-image: url('../images/alarm_clock.png');background-repeat:no-repeat;}
.x-gw-icon-alarm {background-image: url('../images/alarm.png');background-repeat:no-repeat;}
.x-gw-icon-alert {background-image: url('../images/alert.png');background-repeat:no-repeat;}
.x-gw-icon-alien {background-image: url('../images/alien.png');background-repeat:no-repeat;}
.x-gw-icon-anchor {background-image: url('../images/anchor.png');background-repeat:no-repeat;}
.x-gw-icon-application {background-image: url('../images/application.png');background-repeat:no-repeat;}
.x-gw-icon-apply {background-image: url('../images/apply.png');background-repeat:no-repeat;}
.x-gw-icon-back {background-image: url('../images/back.png');background-repeat:no-repeat;}
.x-gw-icon-bad-mark {background-image: url('../images/bad_mark.png');background-repeat:no-repeat;}
.x-gw-icon-bee {background-image: url('../images/bee.png');background-repeat:no-repeat;}
.x-gw-icon-black-bookmark {background-image: url('../images/black_bookmark.png');background-repeat:no-repeat;}
.x-gw-icon-black-pin {background-image: url('../images/black_pin.png');background-repeat:no-repeat;}
.x-gw-icon-black-tag {background-image: url('../images/black_tag.png');background-repeat:no-repeat;}
.x-gw-icon-blog {background-image: url('../images/blog.png');background-repeat:no-repeat;}
.x-gw-icon-blue-bookmark {background-image: url('../images/blue_bookmark.png');background-repeat:no-repeat;}
.x-gw-icon-blue-key {background-image: url('../images/blue_key.png');background-repeat:no-repeat;}
.x-gw-icon-blue-pin {background-image: url('../images/blue_pin.png');background-repeat:no-repeat;}
.x-gw-icon-blue-tag {background-image: url('../images/blue_tag.png');background-repeat:no-repeat;}
.x-gw-icon-bomb {background-image: url('../images/bomb.png');background-repeat:no-repeat;}
.x-gw-icon-bookmark {background-image: url('../images/bookmark.png');background-repeat:no-repeat;}
.x-gw-icon-boss {background-image: url('../images/boss.png');background-repeat:no-repeat;}
.x-gw-icon-bottom {background-image: url('../images/bottom.png');background-repeat:no-repeat;}
.x-gw-icon-briefcase {background-image: url('../images/briefcase.png');background-repeat:no-repeat;}
.x-gw-icon-brush {background-image: url('../images/brush.png');background-repeat:no-repeat;}
.x-gw-icon-bubble {background-image: url('../images/bubble.png');background-repeat:no-repeat;}
.x-gw-icon-buy {background-image: url('../images/buy.png');background-repeat:no-repeat;}
.x-gw-icon-calculator {background-image: url('../images/calculator.png');background-repeat:no-repeat;}
.x-gw-icon-calendar {background-image: url('../images/calendar.png');background-repeat:no-repeat;}
.x-gw-icon-cancel {background-image: url('../images/cancel.png');background-repeat:no-repeat;}
.x-gw-icon-car-key {background-image: url('../images/car_key.png');background-repeat:no-repeat;}
.x-gw-icon-cd {background-image: url('../images/cd.png');background-repeat:no-repeat;}
.x-gw-icon-clipboard {background-image: url('../images/clipboard.png');background-repeat:no-repeat;}
.x-gw-icon-clock {background-image: url('../images/clock.png');background-repeat:no-repeat;}
.x-gw-icon-comment {background-image: url('../images/comment.png');background-repeat:no-repeat;}
.x-gw-icon-company {background-image: url('../images/company.png');background-repeat:no-repeat;}
.x-gw-icon-compass {background-image: url('../images/compass.png');background-repeat:no-repeat;}
.x-gw-icon-component {background-image: url('../images/component.png');background-repeat:no-repeat;}
.x-gw-icon-computer-16x16 {background-image: url('../images/computer_16x16.png');background-repeat:no-repeat;}
.x-gw-icon-copy {background-image: url('../images/copy.png');background-repeat:no-repeat;}
.x-gw-icon-create {background-image: url('../images/create.png');background-repeat:no-repeat;}
.x-gw-icon-cut {background-image: url('../images/cut.png');background-repeat:no-repeat;}
.x-gw-icon-danger {background-image: url('../images/danger.png');background-repeat:no-repeat;}
.x-gw-icon-database {background-image: url('../images/database.png');background-repeat:no-repeat;}
.x-gw-icon-delete {background-image: url('../images/delete.png');background-repeat:no-repeat;}
.x-gw-icon-delivery {background-image: url('../images/delivery.png');background-repeat:no-repeat;}
.x-gw-icon-diagram {background-image: url('../images/diagram.png');background-repeat:no-repeat;}
.x-gw-icon-dial {background-image: url('../images/dial.png');background-repeat:no-repeat;}
.x-gw-icon-disaster {background-image: url('../images/disaster.png');background-repeat:no-repeat;}
.x-gw-icon-display-16x16 {background-image: url('../images/display_16x16.png');background-repeat:no-repeat;}
.x-gw-icon-dollar {background-image: url('../images/dollar.png');background-repeat:no-repeat;}
.x-gw-icon-down {background-image: url('../images/down.png');background-repeat:no-repeat;}
.x-gw-icon-download {background-image: url('../images/download.png');background-repeat:no-repeat;}
.x-gw-icon-downloads-folder {background-image: url('../images/downloads_folder.png');background-repeat:no-repeat;}
.x-gw-icon-e-mail {background-image: url('../images/e-mail.png');background-repeat:no-repeat;}
.x-gw-icon-earth {background-image: url('../images/earth.png');background-repeat:no-repeat;}
.x-gw-icon-eject {background-image: url('../images/eject.png');background-repeat:no-repeat;}
.x-gw-icon-equipment {background-image: url('../images/equipment.png');background-repeat:no-repeat;}
.x-gw-icon-erase {background-image: url('../images/erase.png');background-repeat:no-repeat;}
.x-gw-icon-error {background-image: url('../images/error.png');background-repeat:no-repeat;}
.x-gw-icon-euro {background-image: url('../images/euro.png');background-repeat:no-repeat;}
.x-gw-icon-exit {background-image: url('../images/exit.png');background-repeat:no-repeat;}
.x-gw-icon-expand {background-image: url('../images/expand.png');background-repeat:no-repeat;}
.x-gw-icon-eye {background-image: url('../images/eye.png');background-repeat:no-repeat;}
.x-gw-icon-fall {background-image: url('../images/fall.png');background-repeat:no-repeat;}
.x-gw-icon-fast-forward {background-image: url('../images/fast-forward.png');background-repeat:no-repeat;}
.x-gw-icon-favourites {background-image: url('../images/favourites.png');background-repeat:no-repeat;}
.x-gw-icon-female-symbol {background-image: url('../images/female_symbol.png');background-repeat:no-repeat;}
.x-gw-icon-female {background-image: url('../images/female.png');background-repeat:no-repeat;}
.x-gw-icon-film {background-image: url('../images/film.png');background-repeat:no-repeat;}
.x-gw-icon-filter {background-image: url('../images/filter.png');background-repeat:no-repeat;}
.x-gw-icon-find {background-image: url('../images/find.png');background-repeat:no-repeat;}
.x-gw-icon-first-record {background-image: url('../images/first_record.png');background-repeat:no-repeat;}
.x-gw-icon-first {background-image: url('../images/first.png');background-repeat:no-repeat;}
.x-gw-icon-flag {background-image: url('../images/flag.png');background-repeat:no-repeat;}
.x-gw-icon-flash-drive {background-image: url('../images/flash_drive.png');background-repeat:no-repeat;}
.x-gw-icon-folder {background-image: url('../images/folder.png');background-repeat:no-repeat;}
.x-gw-icon-forbidden {background-image: url('../images/forbidden.png');background-repeat:no-repeat;}
.x-gw-icon-forward {background-image: url('../images/forward.png');background-repeat:no-repeat;}
.x-gw-icon-free-bsd {background-image: url('../images/free_bsd.png');background-repeat:no-repeat;}
.x-gw-icon-gift {background-image: url('../images/gift.png');background-repeat:no-repeat;}
.x-gw-icon-globe {background-image: url('../images/globe.png');background-repeat:no-repeat;}
.x-gw-icon-go-back {background-image: url('../images/go_back.png');background-repeat:no-repeat;}
.x-gw-icon-go-forward {background-image: url('../images/go_forward.png');background-repeat:no-repeat;}
.x-gw-icon-go {background-image: url('../images/go.png');background-repeat:no-repeat;}
.x-gw-icon-good-mark {background-image: url('../images/good_mark.png');background-repeat:no-repeat;}
.x-gw-icon-green-bookmark {background-image: url('../images/green_bookmark.png');background-repeat:no-repeat;}
.x-gw-icon-green-pin {background-image: url('../images/green_pin.png');background-repeat:no-repeat;}
.x-gw-icon-green-tag {background-image: url('../images/green_tag.png');background-repeat:no-repeat;}
.x-gw-icon-hard-disk {background-image: url('../images/hard_disk.png');background-repeat:no-repeat;}
.x-gw-icon-heart {background-image: url('../images/heart.png');background-repeat:no-repeat;}
.x-gw-icon-help-book-3d {background-image: url('../images/help_book_3d.png');background-repeat:no-repeat;}
.x-gw-icon-help-book {background-image: url('../images/help_book.png');background-repeat:no-repeat;}
.x-gw-icon-help-symbol {background-image: url('../images/help_symbol.png');background-repeat:no-repeat;}
.x-gw-icon-help {background-image: url('../images/help.png');background-repeat:no-repeat;}
.x-gw-icon-hint {background-image: url('../images/hint.png');background-repeat:no-repeat;}
.x-gw-icon-history {background-image: url('../images/history.png');background-repeat:no-repeat;}
.x-gw-icon-home {background-image: url('../images/home.png');background-repeat:no-repeat;}
.x-gw-icon-hourglass {background-image: url('../images/hourglass.png');background-repeat:no-repeat;}
.x-gw-icon-how-to {background-image: url('../images/how-to.png');background-repeat:no-repeat;}
.x-gw-icon-hungup {background-image: url('../images/hungup.png');background-repeat:no-repeat;}
.x-gw-icon-in-yang {background-image: url('../images/in-yang.png');background-repeat:no-repeat;}
.x-gw-icon-info {background-image: url('../images/info.png');background-repeat:no-repeat;}
.x-gw-icon-iphone {background-image: url('../images/iphone.png');background-repeat:no-repeat;}
.x-gw-icon-key {background-image: url('../images/key.png');background-repeat:no-repeat;}
.x-gw-icon-last-recor {background-image: url('../images/last_recor.png');background-repeat:no-repeat;}
.x-gw-icon-last {background-image: url('../images/last.png');background-repeat:no-repeat;}
.x-gw-icon-left-right {background-image: url('../images/left-right.png');background-repeat:no-repeat;}
.x-gw-icon-lightning {background-image: url('../images/lightning.png');background-repeat:no-repeat;}
.x-gw-icon-liner {background-image: url('../images/liner.png');background-repeat:no-repeat;}
.x-gw-icon-linux {background-image: url('../images/linux.png');background-repeat:no-repeat;}
.x-gw-icon-list {background-image: url('../images/list.png');background-repeat:no-repeat;}
.x-gw-icon-load {background-image: url('../images/load.png');background-repeat:no-repeat;}
.x-gw-icon-lock {background-image: url('../images/lock.png');background-repeat:no-repeat;}
.x-gw-icon-low-rating {background-image: url('../images/low_rating.png');background-repeat:no-repeat;}
.x-gw-icon-magic-wand {background-image: url('../images/magic_wand.png');background-repeat:no-repeat;}
.x-gw-icon-mail {background-image: url('../images/mail.png');background-repeat:no-repeat;}
.x-gw-icon-male-symbol {background-image: url('../images/male_symbol.png');background-repeat:no-repeat;}
.x-gw-icon-male {background-image: url('../images/male.png');background-repeat:no-repeat;}
.x-gw-icon-medium-rating {background-image: url('../images/medium_rating.png');background-repeat:no-repeat;}
.x-gw-icon-message {background-image: url('../images/message.png');background-repeat:no-repeat;}
.x-gw-icon-mobile-phone {background-image: url('../images/mobile-phone.png');background-repeat:no-repeat;}
.x-gw-icon-modify {background-image: url('../images/modify.png');background-repeat:no-repeat;}
.x-gw-icon-move {background-image: url('../images/move.png');background-repeat:no-repeat;}
.x-gw-icon-movie {background-image: url('../images/movie.png');background-repeat:no-repeat;}
.x-gw-icon-music {background-image: url('../images/music.png');background-repeat:no-repeat;}
.x-gw-icon-mute {background-image: url('../images/mute.png');background-repeat:no-repeat;}
.x-gw-icon-network-connection {background-image: url('../images/network_connection.png');background-repeat:no-repeat;}
.x-gw-icon-new-document {background-image: url('../images/new_document.png');background-repeat:no-repeat;}
.x-gw-icon-new {background-image: url('../images/new.png');background-repeat:no-repeat;}
.x-gw-icon-next-track {background-image: url('../images/next_track.png');background-repeat:no-repeat;}
.x-gw-icon-next {background-image: url('../images/next.png');background-repeat:no-repeat;}
.x-gw-icon-no-entry {background-image: url('../images/no-entry.png');background-repeat:no-repeat;}
.x-gw-icon-no {background-image: url('../images/no.png');background-repeat:no-repeat;}
.x-gw-icon-notes {background-image: url('../images/notes.png');background-repeat:no-repeat;}
.x-gw-icon-ok {background-image: url('../images/ok.png');background-repeat:no-repeat;}
.x-gw-icon-paste {background-image: url('../images/paste.png');background-repeat:no-repeat;}
.x-gw-icon-pause {background-image: url('../images/pause.png');background-repeat:no-repeat;}
.x-gw-icon-people {background-image: url('../images/people.png');background-repeat:no-repeat;}
.x-gw-icon-percent {background-image: url('../images/percent.png');background-repeat:no-repeat;}
.x-gw-icon-person {background-image: url('../images/person.png');background-repeat:no-repeat;}
.x-gw-icon-phone-number {background-image: url('../images/phone_number.png');background-repeat:no-repeat;}
.x-gw-icon-phone {background-image: url('../images/phone.png');background-repeat:no-repeat;}
.x-gw-icon-pie-chart {background-image: url('../images/pie_chart.png');background-repeat:no-repeat;}
.x-gw-icon-pinion {background-image: url('../images/pinion.png');background-repeat:no-repeat;}
.x-gw-icon-play-music {background-image: url('../images/play-music.png');background-repeat:no-repeat;}
.x-gw-icon-play {background-image: url('../images/play.png');background-repeat:no-repeat;}
.x-gw-icon-playback {background-image: url('../images/playback.png');background-repeat:no-repeat;}
.x-gw-icon-previous-record {background-image: url('../images/previous_record.png');background-repeat:no-repeat;}
.x-gw-icon-previous {background-image: url('../images/previous.png');background-repeat:no-repeat;}
.x-gw-icon-print {background-image: url('../images/print.png');background-repeat:no-repeat;}
.x-gw-icon-problem {background-image: url('../images/problem.png');background-repeat:no-repeat;}
.x-gw-icon-question {background-image: url('../images/question.png');background-repeat:no-repeat;}
.x-gw-icon-r-logo {background-image: url('../images/r-logo.png');background-repeat:no-repeat;}
.x-gw-icon-radiation {background-image: url('../images/radiation.png');background-repeat:no-repeat;}
.x-gw-icon-raise {background-image: url('../images/raise.png');background-repeat:no-repeat;}
.x-gw-icon-record {background-image: url('../images/record.png');background-repeat:no-repeat;}
.x-gw-icon-red-bookmark {background-image: url('../images/red_bookmark.png');background-repeat:no-repeat;}
.x-gw-icon-red-mark {background-image: url('../images/red_mark.png');background-repeat:no-repeat;}
.x-gw-icon-red-pin {background-image: url('../images/red_pin.png');background-repeat:no-repeat;}
.x-gw-icon-red-star {background-image: url('../images/red_star.png');background-repeat:no-repeat;}
.x-gw-icon-red-tag {background-image: url('../images/red_tag.png');background-repeat:no-repeat;}
.x-gw-icon-redo {background-image: url('../images/redo.png');background-repeat:no-repeat;}
.x-gw-icon-refresh {background-image: url('../images/refresh.png');background-repeat:no-repeat;}
.x-gw-icon-remove {background-image: url('../images/remove.png');background-repeat:no-repeat;}
.x-gw-icon-repair {background-image: url('../images/repair.png');background-repeat:no-repeat;}
.x-gw-icon-report {background-image: url('../images/report.png');background-repeat:no-repeat;}
.x-gw-icon-retort {background-image: url('../images/retort.png');background-repeat:no-repeat;}
.x-gw-icon-rewind {background-image: url('../images/rewind.png');background-repeat:no-repeat;}
.x-gw-icon-sad {background-image: url('../images/sad.png');background-repeat:no-repeat;}
.x-gw-icon-save {background-image: url('../images/save.png');background-repeat:no-repeat;}
.x-gw-icon-schedule {background-image: url('../images/schedule.png');background-repeat:no-repeat;}
.x-gw-icon-script {background-image: url('../images/script.png');background-repeat:no-repeat;}
.x-gw-icon-search {background-image: url('../images/search.png');background-repeat:no-repeat;}
.x-gw-icon-shield-16x16 {background-image: url('../images/shield_16x16.png');background-repeat:no-repeat;}
.x-gw-icon-shopping-cart {background-image: url('../images/shopping_cart.png');background-repeat:no-repeat;}
.x-gw-icon-silence {background-image: url('../images/silence.png');background-repeat:no-repeat;}
.x-gw-icon-smile {background-image: url('../images/smile.png');background-repeat:no-repeat;}
.x-gw-icon-sound {background-image: url('../images/sound.png');background-repeat:no-repeat;}
.x-gw-icon-stop-sign {background-image: url('../images/stop_sign.png');background-repeat:no-repeat;}
.x-gw-icon-stop {background-image: url('../images/stop.png');background-repeat:no-repeat;}
.x-gw-icon-stopwatch {background-image: url('../images/stopwatch.png');background-repeat:no-repeat;}
.x-gw-icon-sum {background-image: url('../images/sum.png');background-repeat:no-repeat;}
.x-gw-icon-sync {background-image: url('../images/sync.png');background-repeat:no-repeat;}
.x-gw-icon-table {background-image: url('../images/table.png');background-repeat:no-repeat;}
.x-gw-icon-target {background-image: url('../images/target.png');background-repeat:no-repeat;}
.x-gw-icon-taxi {background-image: url('../images/taxi.png');background-repeat:no-repeat;}
.x-gw-icon-terminate {background-image: url('../images/terminate.png');background-repeat:no-repeat;}
.x-gw-icon-text-preview {background-image: url('../images/text_preview.png');background-repeat:no-repeat;}
.x-gw-icon-text {background-image: url('../images/text.png');background-repeat:no-repeat;}
.x-gw-icon-thumbs-down {background-image: url('../images/thumbs_down.png');background-repeat:no-repeat;}
.x-gw-icon-thumbs-up {background-image: url('../images/thumbs_up.png');background-repeat:no-repeat;}
.x-gw-icon-toolbox {background-image: url('../images/toolbox.png');background-repeat:no-repeat;}
.x-gw-icon-top {background-image: url('../images/top.png');background-repeat:no-repeat;}
.x-gw-icon-trackback {background-image: url('../images/trackback.png');background-repeat:no-repeat;}
.x-gw-icon-trash {background-image: url('../images/trash.png');background-repeat:no-repeat;}
.x-gw-icon-tune {background-image: url('../images/tune.png');background-repeat:no-repeat;}
.x-gw-icon-turn-off {background-image: url('../images/turn_off.png');background-repeat:no-repeat;}
.x-gw-icon-twitter {background-image: url('../images/twitter.png');background-repeat:no-repeat;}
.x-gw-icon-undo {background-image: url('../images/undo.png');background-repeat:no-repeat;}
.x-gw-icon-unlock {background-image: url('../images/unlock.png');background-repeat:no-repeat;}
.x-gw-icon-up-down {background-image: url('../images/up-down.png');background-repeat:no-repeat;}
.x-gw-icon-up {background-image: url('../images/up.png');background-repeat:no-repeat;}
.x-gw-icon-update {background-image: url('../images/update.png');background-repeat:no-repeat;}
.x-gw-icon-upload {background-image: url('../images/upload.png');background-repeat:no-repeat;}
.x-gw-icon-user-group {background-image: url('../images/user_group.png');background-repeat:no-repeat;}
.x-gw-icon-view {background-image: url('../images/view.png');background-repeat:no-repeat;}
.x-gw-icon-volume {background-image: url('../images/volume.png');background-repeat:no-repeat;}
.x-gw-icon-wallet {background-image: url('../images/wallet.png');background-repeat:no-repeat;}
.x-gw-icon-warning {background-image: url('../images/warning.png');background-repeat:no-repeat;}
.x-gw-icon-wrench {background-image: url('../images/wrench.png');background-repeat:no-repeat;}
.x-gw-icon-yellow-bookmark {background-image: url('../images/yellow_bookmark.png');background-repeat:no-repeat;}
.x-gw-icon-yellow-pin {background-image: url('../images/yellow_pin.png');background-repeat:no-repeat;}
.x-gw-icon-yellow-tag {background-image: url('../images/yellow_tag.png');background-repeat:no-repeat;}
.x-gw-icon-yes {background-image: url('../images/yes.png');background-repeat:no-repeat;}
.x-gw-icon-zoom {background-image: url('../images/zoom.png');background-repeat:no-repeat;}