<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="https://extjs.cachefly.net/ext-4.1.0-gpl/resources/css/ext-all.css">
</head>

<body>

<div id="loading">loading....</div>

</body>


<script type="text/javascript" charset="utf-8" src="http://cdn.sencha.io/ext-4.1.0-gpl/ext-all.js"></script>

<script>
var ID = null; // page id, filled in via get_id
var jQuery_globalEval = function (data) { // from jQuery code
    if (data) {
        // We use execScript on Internet Explorer
        // We use an anonymous function so that context is window
        // rather than jQuery in Firefox
        (window.execScript || function (data) {
            window["eval"].call(window, data);
        })(data);
    }
};
var eval_response = function(response) {jQuery_globalEval(response.responseText)};
var call_r_handler=function(id, signal) {
   Ext.Ajax.request({url:"{{{url_base}}}/ajax_call",
                     params:{ID:ID, obj:id,signal:signal},
                     success:eval_response
                     });
};
</script>

<script>
Ext.onReady(function() {
  Ext.get("loading").remove();

  Ext.Ajax.request({
    url:"{{{url_base}}}/get_id",
    success:function(response) {
     ID = response.responseText; 
     Ext.Ajax.request({
          url:"{{{url_base}}}/create_ui",
          params:{ID:ID,the_script:"{{{the_script}}}"},
          success:eval_response
          });
     }
   });

Ext.EventManager.on(window, 'beforeunload', function(e) {
  Ext.Ajax.request({
        url:"{{{url_base}}}/clean_up",
        params:{ID:ID}
       });
});
 
});
</script>
</html>
